*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#tablero{
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height: 80%;
    background-color: green;
    transition: flex 0.3s ease-out;
    

}

.cardContainer{
    border: 20px solid green;
    border-left: 400px solid red;
    border-right: 400px solid red;
    
    position: relative;
    display: flex;
    
    width:100%;
    height: 54%;
    //transition: flex 0.3s ease-out;
   
}

.card{
    display: flex;
    position: relative;
    flex: 0 0 auto;
    width: 200px;
    height: 50%;
    background-image: url("../img/back.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease-out;
}

#controls{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: green;
}

span{
    margin-left: 15%;
    margin-right: 25%;
    font-size: 500%;
    color: gold;
}

a{
    font-size: 500%;
    color: gold;
    background-color: rgb(2, 51, 2);
    padding:1%;
    border: solid thick black;
}



#card1{
    order: 1;
}

#card2{
    order: 2;
}

#card3{
    order: 3;
}
.leftToCenter{
    animation-name: leftToCenter;
    animation-duration: 0.5s;    
    animation-fill-mode: forwards;
}

.rightToCenter{
    animation-name: rightToCenter;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.centerToLeft{
    animation-name: centerToLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.centerToRight{
    animation-name: centerToRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes leftToCenter {
    from { left:0 }
    to { left:33.3% }
}

@keyframes rightToCenter {
    from { left:0 }
    to { left:-33.4% }
}

@keyframes centerToLeft {
    from { left:33.3% }
    to { left: 0 }
}

@keyframes centerToRight {
    from { left:-33.4% }
    to { left:0 }
}